<section id="add" class="container">
  <div class="form-wrap">
    <h1>No-Show buchen</h1>

    {{#each errors}}
    <div class="error">
      <p>{{text}}</p>
    </div>
    {{/each}}

    {{#if confirmation}}
    <div class="confirmation">
      <p>{{confirmation.text}}</p>
    </div>
    {{/if}}

    <form action="/transport/noshow" method="POST">

      <div class="input-group">
        <label for="paket_id">Packet-ID</label>
        <input type="number" min="0" step="1" name="paket_id" id="paket_id" class="input-box" placeholder="z.B. 1"
          maxlength="100" value={{paket_id}}>
      </div>

      <input type="submit" value="No-Show buchen" class="btn btn-reverse">
    </form>
  </div>
</section>